.button {
  margin: 0;
  line-height: 1.36;
  font-family: Shnobel;
  color: #7f4156;
  border: none;
  background: #ffffff;
  outline: none;
  transition: background .3s;
  transform: translateZ(0);
  cursor: pointer;
  max-height: .05rem;
  min-width: .02rem;
  min-height: .00515rem;
  font-size: .0287rem;
  padding: .005rem .03rem 0;
  border-radius: .05rem;
  user-select: none;

  &:hover {
    background: #7f4156;
    color: #ffffff;
  }

  &.button_disabled {
    border: .0018rem solid #ffffff;
    opacity: .7;
    pointer-events: none;
    background: transparent;
    color: #ffffff;
  }
}