.step-number {
  font-family: "Shnobel";
  color: #ffffff;

  .step-number__item {
    margin-top: .007rem;
    font-size: .0293rem;

    &.step-number__item_checked {
      margin-top: .004rem;
    }

    .step-number-checked {
      width: 20px;
      height: 20px;
      background: url("../../assets/images/checked.svg") 50% 50% no-repeat;
    }
  }
}