.input {
  min-height: .03rem;
  padding: .0088rem .0147rem;
  margin-bottom: .0147rem;
  border: .0015rem solid transparent;
  border-radius: .0368rem;
  font-size: .0132rem;
  text-align: left;
  width: 100%;
  background: #ffffff;

  &:focus {
    outline: none;
  }

  &.input_error {
    border-color: red;
  }
}