@font-face {
  font-family: "Shnobel";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Shnobel.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/OpenSans-Regular.woff") format("woff");
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans";
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  background-image: url("./assets/images/back.svg");
  background-size: cover;
  height: 100%;
}

.app, .app__page {
  height: 100%;
}

.app {
  .app__logo {
    position: absolute;
    top: 1.84vw;
    left: 1.84vw;;
  }
}