@font-face {
  font-family: "Shnobel";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Shnobel.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/OpenSans-Regular.woff") format("woff");
}

* {
  box-sizing: border-box;
  font-size: 0;
}

html {
  height: 100%;
  font-size: 120vw;
}

body {
  margin: 0;
  font-family: "Open Sans";
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  background-image: url("./assets/images/back.svg");
  background-size: cover;
  height: 100%;
}

.app, .app__page {
  height: 100%;
}

.app {
  display: flex;
  justify-content: center;

  .app__logo {
    position: absolute;
    top: 0.0184rem;
    left: 0.0184rem;;
  }

  .app__page {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 140vw;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 160vw;
  }
}

@media (max-width: 850px) {
  html {
    font-size: 180vw;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 200vw;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 250vw;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 300vw;
  }
}